@model WorkOrder.Online.Models.ProjectListViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IUserService userService
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var currentUser = userService.GetCurrentUserCredentials();
}

@{
    ViewData["Title"] = Localizer["Title"];
}

@Html.Hidden("hidNewButton", Localizer["Add"].Value)
@Html.Hidden("hidEditButton", Localizer["Edit"].Value)
@Html.Hidden("hidDeleteButton", Localizer["Delete"].Value)
@Html.Hidden("hidDeleteTitle", Localizer["DeleteTitle"].Value)
@Html.Hidden("hidDeleteText", Localizer["DeleteText"].Value)
@Html.Hidden("hidDeleteButton", Localizer["DeleteButton"].Value)


@*Toastr Localisation*@
@Html.Hidden("hidCreateSuccess", @Localizer["CreateSuccess"].Value)
@Html.Hidden("hidUpdateSuccess", @Localizer["UpdateSuccess"].Value)
@Html.Hidden("hidDeleteSuccess", @Localizer["DeleteSuccess"].Value)

@Html.Hidden("hidSelectedOrganizationId", @currentUser.OrganizationId)
@Html.Hidden("hidSelectOption", @Localizer["SelectOption"].Value)

@Html.Hidden("HidRootUrl", Model.RootUrl)

<div class="col-xl-12">
    <div class="card">
        <div class="card-header justify-content-between d-flex align-items-center">
            <h4 class="card-title">@Localizer["Title"]</h4>
        </div><!-- end card header -->
        <div class="card-body">

            @if (User.IsInRole("SuperAdmin"))
            {
                <div class="mb-3 row">
                    <label for="example-text-input" class="col-md-2 col-form-label">@Localizer["Organization"]</label>
                    <div class="col-md-10">
                        @await Html.PartialAsync("_OrganizationSelector", Model.OrganizationSelector)
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-6 mb-4">
                    <input id="displayDeleted" type="checkbox" class="form-check-input" name="displayDeleted">
                    <label for="displayDeleted" class="form-check-label">@Localizer["DisplayDeleted"]</label>
                </div>
            </div>
            <div id="project-list">
                @await Html.PartialAsync("_Projects", Model)
            </div>
        </div><!-- end card body -->
    </div><!-- end card -->
</div>

<div id="addModal" class="modal fade" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["AddProject"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addForm">
                    <div id="projectError" class="alert alert-danger" style="display:none" role="alert"></div>
                    <div class="form-group mb-3">
                        <label for="projectNo" class="form-label">@Localizer["ProjectNo"]:</label>
                        <input name="projectNo" type="text" class="form-control" maxlength="50" readonly />
                    </div>
                    <div class="form-group mb-3">
                        <label for="description" class="form-label">@Localizer["Description"]:</label>
                        <input name="description" type="text" class="form-control" maxlength="200" />
                    </div>
                    <div class="form-group mb-3">
                        <label for="customer" class="form-label">@Localizer["Customer"]:</label>
                        @await Html.PartialAsync("_CustomerSelector", Model.CustomerSelector)
                    </div>
                    <hr />
                    <div class="form-group mb-3">
                        <label for="category" class="form-label">@Localizer["Categories"]:</label>
                        @await Html.PartialAsync("_CategorySelector", Model.CategorySelector)
                    </div>
                    <div class="form-group mb-3">
                        <table id="tblCategories" style="width:100%" class="hidden">
                            <thead>
                                <tr>
                                    <th class="hidden"></th>
                                    <th style="width:80%">@Localizer["Category"]</th>
                                    <th style="width:15%">@Localizer["Hours"]</th>
                                    <th style="width:5%; text-align:center;"></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyCategories">
                                
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">@Localizer["Close"]</button>
                <button id="submitAddForm" type="button" class="btn btn-primary">@Localizer["Save"]</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="editModal" class="modal fade" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["EditProject"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="editForm">
                    <div id="projectductError" class="alert alert-danger" style="display:none" role="alert"></div>
                    <div class="form-group mb-3">
                        <input name="id" type="hidden" />
                        <label for="projectNo" class="form-label">@Localizer["ProjectNo"]:</label>
                        <input name="projectNo" type="text" class="form-control" maxlength="50" readonly />
                    </div>
                    <div class="form-group mb-3">
                        <label for="description" class="form-label">@Localizer["Description"]:</label>
                        <input name="description" type="text" class="form-control" maxlength="200" />
                    </div>
                    <div class="form-group mb-3">
                        <label for="description" class="form-label">@Localizer["Customer"]:</label>
                        @await Html.PartialAsync("_CustomerSelector", Model.CustomerSelector)
                    </div>
                    <hr />
                    <div class="form-group mb-3">
                        <label for="category" class="form-label">@Localizer["Categories"]:</label>
                        @await Html.PartialAsync("_CategorySelector", Model.CategorySelector)
                    </div>
                    <div class="form-group mb-3">
                        <table id="tblCategoriesEdit" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="hidden"></th>
                                    <th style="width:80%">@Localizer["Category"]</th>
                                    <th style="width:15%">@Localizer["Hours"]</th>
                                    <th style="width:5%; text-align:center;"></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyCategoriesEdit">
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">@Localizer["Close"]</button>
                <button id="submitEditForm" type="button" class="btn btn-primary">@Localizer["Save"]</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section Scripts
    {
    <script src="~/js/admin-project.js"></script>
    <script src="~/js/draggable-rows.js"></script>

}

