@model WorkOrder.Online.Models.TaskListViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@using WorkOrder.Online.Services.Interfaces

@inject IViewLocalizer Localizer
@inject IUserService userService

@{
    var currentUser = userService.GetCurrentUserCredentials();
}

<table id="tasksTable" class="table table-striped dataTable w-100" data-processing="true">
    <thead>
        <tr>
            <th data-data="id">Id</th>
            <th data-data="code">@Localizer["Code"]</th>
            <th data-data="description_fr" class="@(currentUser.Language.ToUpper() == "EN" ? "hidden" : "")">@Localizer["Description"]</th>
            <th data-data="description_en" class="@(currentUser.Language.ToUpper() == "FR" ? "hidden" : "")">@Localizer["Description"]</th>
            <th data-data="price">@Localizer["Price"]</th>
            <th data-data="isflatrate">@Localizer["IsFlatRate"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Code</td>
                <td class="@(currentUser.Language.ToUpper() == "EN" ? "hidden" : "")">@task.Description_Fr</td>
                <td class="@(currentUser.Language.ToUpper() == "FR" ? "hidden" : "")">@task.Description_En</td>
                <td>@task.Price</td>
                <td>@task.IsFlatRate</td>
            </tr>
        }
    </tbody>
</table>