@model WorkOrder.Online.Areas.Admin.Models.RoleListViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

@Html.Hidden("hidNewButton", Localizer["Add"].Value)
@Html.Hidden("hidEditButton", Localizer["Edit"].Value)
@Html.Hidden("hidDeleteButton", Localizer["Delete"].Value)
@Html.Hidden("hidDeleteTitle", Localizer["DeleteTitle"].Value)
@Html.Hidden("hidDeleteText", Localizer["DeleteText"].Value)
@Html.Hidden("hidDeleteButton", Localizer["DeleteButton"].Value)


@*Toastr Localisation*@
@Html.Hidden("hidCreateRoleSuccess", @Localizer["CreateRoleSuccess"].Value)
@Html.Hidden("hidUpdateRoleSuccess", @Localizer["UpdateRoleSuccess"].Value)
@Html.Hidden("hidDeleteRoleSuccess", @Localizer["DeleteRoleSuccess"].Value)

@Html.Hidden("HidRootUrl", Model.RootUrl)

<h2 class="intro-y text-lg font-medium mt-10">
    @Localizer["Title"]
</h2>


<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 sm:flex-nowrap items-center mt-2">
        @*<div id="role-list" style="display:none">*@
            @await Html.PartialAsync("_Roles", Model)
        @*</div>*@
    </div>
</div>

<div id="small-modal-size-preview" class="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm("CreateRole", "Role", FormMethod.Post, new { id = "roleForm" }))
            {
                <div class="modal-header">
                    <h2 class="font-medium text-base mr-auto">@Localizer["AddRole"]</h2>
                </div> <!-- END: Modal Header -->
                <div class="modal-body p-10">
                    <div class="input-form">
                        <label for="validation-form-1" class="form-label w-full flex flex-col sm:flex-row"> @Localizer["Name"]: </label>
                        <input id="validation-form-1" type="text" name="name" class="form-control" minlength="3" required data-pristine-required-message="@Localizer["NameRequired"]" data-pristine-minlength-message="@Localizer["MinLength"]">
                    </div>
                </div>

                <!-- END: Modal Body -->
                <!-- BEGIN: Modal Footer -->
                <div class="modal-footer">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">@Localizer["Close"]</button>
                    <button id="submitAddForm" type="submit" class="btn btn-primary w-20">@Localizer["Add"]</button>
                </div> <!-- END: Modal Footer -->
            }
        </div>
    </div>
</div> <!-- END: Small Modal Content -->
<!-- BEGIN: Success Notification Content -->
<div id="success-notification-content" class="toastify-content hidden flex">
    <i class="text-success" data-lucide="check-circle"></i>
    <div class="ml-4 mr-4">
        <div class="font-medium">Registration success!</div>
        <div class="text-slate-500 mt-1"> Please check your e-mail for further info! </div>
    </div>
</div> <!-- END: Success Notification Content -->
<!-- BEGIN: Failed Notification Content -->

<div id="failed-notification-content" class="toastify-content hidden flex">
    <i class="text-danger" data-lucide="x-circle"></i>
    <div class="ml-4 mr-4">
        <div class="font-medium">Registration failed!</div>
        <div class="text-slate-500 mt-1"> Please check the fileld form. </div>
    </div>
</div> <!-- END: Failed Notification Content -->

<div class="modal fade" id="roleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer["AddRole"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="roleForm">
                    <div id="roleError" class="alert alert-danger hidden" role="alert"></div>
                    <div class="form-group">
                        <label for="name">@Localizer["Name"]:</label>
                        <input name="name" type="text" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Close"]</button>
                <button type="button" id="submitAddForm" form="roleForm" class="btn btn-primary">@Localizer["Save"]</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer["EditRole"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="editForm">
                    <div id="editError" class="alert alert-danger hidden" role="alert"></div>
                    <div class="form-group">
                        <input name="id" type="hidden" />
                        <label for="name">@Localizer["Name"]:</label>
                        <input name="name" type="text" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Close"]</button>
                <button type="button" id="submitEditForm" form="editForm" class="btn btn-primary">@Localizer["Save"]</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

@section Scripts
    {
    <script src="~/js/admin-role.js"></script>
}

