@model WorkOrder.Online.Models.OrganizationListViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<table id="organizationsTable" class="table table-striped dataTable w-100" data-processing="true">
    <thead>
        <tr>
            <th data-data="id">Id</th>
            <th data-data="name" style="width:40%">@Localizer["Name"]</th>
            <th data-data="nbrWorkOrder">@Localizer["NbrWorkOrder"]</th>
            <th data-data="nbrUsers">@Localizer["NbrUsers"]</th>
            <th data-data="creationDate">@Localizer["CreationDate"]</th>
             <th data-data="nbrEmail">@Localizer["NbrEmail"]</th>
            <th data-data="isActive" class="text-center">@Localizer["IsActive"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var org in Model.Organizations)
        {
            <tr>
                <td>@org.Id</td>
                <td>@org.Name</td>
                <td>@org.WorkOrderCount</td>
                <td>@org.UserCount</td>
                <td>@org.CreationDate</td>
                <td>@org.EmailCount</td>
                <td>
                    @if (!org.IsActive)
                    {
                        <i class="fas fa-lock text-danger"></i>
                    }
                    else
                    {
                        <i class="fas fa-lock-open text-success"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>