@model WorkOrder.Online.Models.OrganizationListViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

@Html.Hidden("hidNewButton", Localizer["Add"].Value)
@Html.Hidden("hidEditButton", Localizer["Edit"].Value)
@Html.Hidden("hidDeleteButton", Localizer["Delete"].Value)
@Html.Hidden("hidDeleteTitle", Localizer["DeleteTitle"].Value)
@Html.Hidden("hidDeleteText", Localizer["DeleteText"].Value)
@Html.Hidden("hidDeleteButton", Localizer["DeleteButton"].Value)


@*Toastr Localisation*@
@Html.Hidden("hidCreateSuccess", @Localizer["CreateSuccess"].Value)
@Html.Hidden("hidUpdateSuccess", @Localizer["UpdateSuccess"].Value)
@Html.Hidden("hidDeleteSuccess", @Localizer["DeleteSuccess"].Value)

@Html.Hidden("HidRootUrl", Model.RootUrl)

<div class="col-xl-12">
    <div class="card">
        <div class="card-header justify-content-between d-flex align-items-center">
            <h4 class="card-title">@Localizer["Title"]</h4>
        </div><!-- end card header -->
        <div class="card-body">
            <div id="org-list">
                @await Html.PartialAsync("_Organizations", Model)
            </div>
        </div><!-- end card body -->
    </div><!-- end card -->
</div>

<div id="addModal" class="modal fade" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["AddOrganization"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addForm">
                    <div id="addError" class="alert alert-danger" style="display:none" role="alert"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-body" style="min-height: 380px;">
                                        <div class="form-group mb-3">
                                            <label for="name" class="form-label">@Localizer["Name"]:</label>
                                            <input name="name" type="text" class="form-control" maxlength="100" />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="address" class="form-label">@Localizer["Address"]:</label>
                                            <input name="address" type="text" class="form-control" maxlength="100" />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="city" class="form-label">@Localizer["City"]:</label>
                                                <input name="city" type="text" class="form-control" maxlength="100" />
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="province" class="form-label">@Localizer["Province"]:</label>
                                                <input name="province" type="text" class="form-control" maxlength="100" />
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="postalCode" class="form-label">@Localizer["PostalCode"]:</label>
                                                <input name="postalCode" type="text" class="form-control zipcode-mask" maxlength="10" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="phone" class="form-label">@Localizer["Phone"]:</label>
                                                    <input name="phone" type="text" class="form-control phone-mask" maxlength="14" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="email" class="form-label">@Localizer["Email"]:</label>
                                                    <input name="email" type="email" class="form-control" maxlength="100" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-body" style="min-height: 380px;">

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="SelectedLanguageCode" class="form-label">@Localizer["Language"]:</label>
                                                    @await Html.PartialAsync("_LanguageSelector", Model.LanguageSelector)
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="nbrUsers" class="form-label">@Localizer["NbrUsers"]:</label>
                                                    <input name="nbrUsers" type="number" class="form-control" maxlength="4" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="ProjectStartSequence" class="form-label">@Localizer["ProjectStartSequence"]:</label>
                                                    <input name="ProjectStartSequence" type="number" class="form-control" maxlength="8" />
                                                </div>
                                            </div>

                                        </div>

                                        @if (User.IsInRole("SuperAdmin"))
                                        {
                                            <div class="col-12 mt-4">
                                                <div class="form-group">
                                                    <label for="Note" class="form-label">Notes:</label>
                                                    <textarea name="Notes" class="form-control" rows="3"></textarea>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">@Localizer["Close"]</button>
                <button id="submitAddForm" type="button" class="btn btn-primary">@Localizer["Save"]</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="editModal" class="modal fade" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["EditOrganization"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="editForm">
                    <div id="editError" class="alert alert-danger" style="display:none" role="alert"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-body" style="min-height: 380px;">
                                        <div class="form-group mb-3">
                                            <input name="id" type="hidden" />
                                            <label for="name" class="form-label">@Localizer["Name"]</label>
                                            <input name="name" type="text" class="form-control" maxlength="100" @(!User.IsInRole("SuperAdmin") ? "readonly" : "") />
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="address" class="form-label">@Localizer["Address"]</label>
                                            <input name="address" type="text" class="form-control" maxlength="100" />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <label for="city" class="form-label">@Localizer["City"]</label>
                                                <input name="city" type="text" class="form-control" maxlength="100" />
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="province" class="form-label">@Localizer["Province"]</label>
                                                <input name="province" type="text" class="form-control" maxlength="100" />
                                            </div>
                                            <div class="col-md-3 mb-3">
                                                <label for="postalCode" class="form-label">@Localizer["PostalCode"]</label>
                                                <input name="postalCode" type="text" class="form-control zipcode-mask" maxlength="10" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="phone" class="form-label">@Localizer["Phone"]</label>
                                                    <input name="phone" type="text" class="form-control phone-mask" maxlength="14" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="email" class="form-label">@Localizer["Email"]</label>
                                                    <input name="email" type="email" class="form-control" maxlength="100" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-body" style="min-height: 380px;">

                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="SelectedLanguageCode" class="form-label">@Localizer["Language"]</label>
                                                    @await Html.PartialAsync("_LanguageSelector", Model.LanguageSelector)
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="nbrUsers" class="form-label">@Localizer["NbrUsers"]</label>
                                                    <input name="nbrUsers" type="number" class="form-control" maxlength="4" @(!User.IsInRole("SuperAdmin") ? "readonly" : "") />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-3">
                                                <div class="form-group">
                                                    <label for="ProjectStartSequence" class="form-label">@Localizer["ProjectStartSequence"]:</label>
                                                    <input name="ProjectStartSequence" type="number" class="form-control" maxlength="8" />
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="form-check mt-3">
                                                    @if (User.IsInRole("SuperAdmin"))
                                                    {
                                                        <input type="checkbox" class="form-check-input" name="isActive">
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" name="isActive">
                                                        <input type="checkbox" class="form-check-input" name="isActive" disabled>
                                                    }
                                                    <label class="form-check-label" for="isActive">@Localizer["IsActive"]</label>
                                                </div>
                                            </div>
                                        </div>

                                        @if (User.IsInRole("SuperAdmin"))
                                        {
                                            <div class="col-12 mt-4">
                                                <div class="form-group">
                                                    <label for="Note" class="form-label">Notes</label>
                                                    <textarea name="Notes" class="form-control" rows="3"></textarea>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">@Localizer["Close"]</button>
                <button id="submitEditForm" type="button" class="btn btn-primary">@Localizer["Save"]</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section Scripts
    {
    <script src="~/js/admin-organization.js"></script>
}

