@model WorkOrder.Online.Models.ProductListViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@using WorkOrder.Online.Services.Interfaces

@inject IViewLocalizer Localizer
@inject IUserService userService

@{
    var currentUser = userService.GetCurrentUserCredentials();
}

<table id="productsTable" class="table table-striped dataTable w-100" data-processing="true">
    <thead>
        <tr>
            <th data-data="id">Id</th>
            <th data-data="code">@Localizer["Code"]</th>
            <th data-data="description_fr" class="@(currentUser.Language.ToUpper() == "EN" ? "hidden" : "")">@Localizer["Description"]</th>
            <th data-data="description_en" class="@(currentUser.Language.ToUpper() == "FR" ? "hidden" : "")">@Localizer["Description"]</th>
            <th data-data="price">@Localizer["Price"]</th>
            <th data-data="isflatrateForDisplay">@Localizer["IsFlatRate"]</th>
            <th data-data="isflatrate">@Localizer["IsFlatRate"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Code</td>
                <td class="@(currentUser.Language.ToUpper() == "EN" ? "hidden" : "")">@product.Description_Fr</td>
                <td class="@(currentUser.Language.ToUpper() == "FR" ? "hidden" : "")">@product.Description_En</td>
                <td>@product.Price</td>
                <td>
                    @if (product.IsFlatRate)
                    {
                        <i class="fas fa-check text-success"></i>
                    }
                    else
                    {
                        <i class="fas fa-times"></i>
                    }
                </td>
                <td>@product.IsFlatRate</td>
            </tr>
        }
    </tbody>
</table>